*,
*::before,
*::after{
    box-sizing: border-box;
}
.bgc{
    font-family: Montserrat, "segoe UI",Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
h3,h2{
    text-align: center;
}
.progressbar{
    position: relative;
    display: flex;
    justify-content:space-between;
    counter-reset:step; 
    margin : 2rem 0 1.5rem;

}

/* due to spelling mistake horizontal line was not showing */
.progressbar::before,.progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    ;
    z-index: -1;
}
.progress{
    background-color: rgb(124, 19, 236);
    width: 0%;
    transition: 0.7s;
}
.progress-step{
    width:2.19rem;
    height: 2.19rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-step::before{
    counter-increment: step;
    content: counter(step);
}
.progress-step-active{
    background-color: rgb(124, 19, 236);
    color: white;
}


.form{
    width: 25rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}
.form-step{
    display: none;
    transform-origin: top;
    animation:animate 0.3s;
}
.form-step-active{
    display: block ;
}
input{
    padding: 0.75rem;
    width:100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
}
label{
    margin-bottom: 0.5rem;
    display: block;
}
select{
    padding: 0.75rem;
    width:100%;
    display: block;
    border-radius: 0.35rem;
}
.input-grp{
    margin: 9px;
    padding: 3px;
}

@keyframes animate {
    from{
        transform: scale(1,0);
        opacity :0;
    }
    to{
        transform: scale(1,1);
        opacity :1;
    }


    
}

.btn{
     
    display: block;
    padding: 0.75rem;
    margin-top: 0.75rem;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    background-color: rgb(124, 19, 236);  
    color: white; 
    border-radius: 0.35rem;
    transition: 0.3s;
    
}
.width-50{
    text-decoration:none;
    width:50%;
}
.ml-auto{
    margin-left: auto;
}
.btn:hover{
   box-shadow: 0 0 0 2px white,0 0 0 3px rgb(124, 19, 236);
}
.btn-grp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem ; 
}
.pn{
    width:10rem
}

 
 